body{
    text-align: center;
}

#input_mandar{
    width: 30%;
    height: 30%;
}

#button{
    background-color: grey;
    color: white;
    display: inline;
    user-select: none;
}

#button:hover{
    cursor: grab;
}

.element_lista{
    color: white;
    height: 30%;
}

#form_pesquisar{
    display: inline;
    color: white;
}

.naoencontrada{
    color: red;
}

#logo-home{
    width: 5%;
}

#logo-home:hover{
    border-style: solid;
    border: 1px;
}