@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


body{
    align-items: center;
    text-align: center;
    background-color: black;
}

h1{
    color: white;
    font-family: "Poetsen One", sans-serif;
}

.botton{
    background-color: grey;
    width: 20%;
    color: white;
    padding: 1%;
    margin-left: 40%;
    margin-top: 5%;
    text-decoration: none;
    user-select: none;
    border-radius: 5px 5px;
}

.botton:hover{
    background-color: rgb(206, 206, 206);
    cursor:grab;
}

.text-box {
    margin-left: -19%;
	 margin-top: 2%;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#outro{
    width: 100%;
}
